includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    reportUnmatchedIgnoredErrors: true # Mostra erros que estão sendo ignorados
    checkMissingIterableValueType: false # Desativa checagem opcional que pode causar falsos positivos
