includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        # - identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: true
    # checkMissingIterableValueType: false  # Remova ou comente essa linha
